body {
    background-color:#312f30;
    height: 5000px;
}
#topimg {
    background-image: url(img/topback.jpg);
    
}
#back img {
    width: 100vw;
    height: 100vw;
    margin-top: 50px;
    position: fixed;
}
#corporatePage {
    
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
    position: fixed;
    top:100%;
    text-align:center;
}

#servisPage {
    
    height: 100%;
    width: 100%;
    background-color: #e1e1e1;
    position: fixed;
    top:100%;
}

#addressPage {
    
    height: 100%;
    width: 100%;
    background-color: #d7d7d7;
    position: fixed;
    top:100%;
}

#contactPage {
     
    height: 100%;
    width: 100%;
    background-color: #cccccc;
    position: fixed;
    top:100%;
}



#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a:hover {
   opacity: 0.5;
}

.air {
    height: 60px;
    
}

.mark {
    top:-20%;
    
}