body {
	background-color: #312f30;
	height: 2000px;
}
#topimg {
	background-image: url(img/topback.jpg);
}
#back img {
	width: 100%;
	height: 100%;
	position: fixed;
}
@media screen and (max-width: 1000px) {
    #back img {
	width: 1140px;
	height: 100%;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;    
    }
}
#back {
    position: fixed;
}
#contents {
	font-family: 'Hiragino Mincho Pro';
	font-size: 20px;
}
#contents p {
	margin: 0;
}
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%
}
#up{
    width: 100px;
}
@media screen and (max-width: 500px) {
    #up{
        width: 50px;
    }   
}
#page-top a:hover {
	opacity: 0.5;
}
.air {
	height: 60px;
}
.title{
    font-size:30px;
}
.titleimg{
    height:100px;
}
@media screen and (max-width: 500px) {
    .air {
	height: 40px;
    }
    .title{
    font-size:15px;
    }
    .titleimg{
    height:50px;
    }
    
}
.mark {
	top: -20%;
}

/*　全体管理 */

#block{
    width: 300px;
    height: 300px;
    background-color:;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
     -webkit-animation: anime 5s ease 0s 2 alternate  forwards running;
     animation: anime 5s ease 0s 2 alternate  forwards running;   
}
#logoimg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    #block{
    width: 200px;
    height: 200px;
    background-color:white;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
     -webkit-animation: anime 5s ease 0s 2 alternate  forwards running;
     animation: anime 5s ease 0s 2 alternate  forwards running;   
    }
    #logoimg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    }
@-webkit-keyframes anime {
    0%{
        background-color: #e4e5e7;
    }
    15%{
        background-color: #cdced1;
        -webkit-transform: rotate(45deg);
        border-radius:0% 0% 0% 0%;
    }
    30%{
        background-color: #b7b8ba;
         -webkit-transform: rotate(90deg);
        border-radius:50% 0% 0% 0%;
    }
    45%{
        background-color: #a2a3a5;
         -webkit-transform: rotate(180deg);
        border-radius:50% 50% 0% 0%;
    }
    60%{
        background-color: #8d8f91;
         -webkit-transform: rotate(270deg);
        border-radius:50% 50% 50% 0%;
    }
    75%{
        background-color: #7b7c7e;
         -webkit-transform: rotate(360deg);
        border-radius:50% 50% 50% 50%;
        
    }
    90%{
        background-color: #312f30;
        border-radius:50% 50% 50% 50%;
         -webkit-transform: rotate(360deg);
        
    }
    100%{
        background-color: #312f30;
         -webkit-transform: rotate(720deg);
    }
}   
}
@keyframes anime {
    0%{
        background-color: #e4e5e7;
    }
    15%{
        background-color: #cdced1;
        transform: rotate(45deg);
        border-radius:0% 0% 0% 0%;
    }
    30%{
        background-color: #b7b8ba;
        transform: rotate(90deg);
        border-radius:50% 0% 0% 0%;
    }
    45%{
        background-color: #a2a3a5;
        transform: rotate(180deg);
        border-radius:50% 50% 0% 0%;
    }
    60%{
        background-color: #8d8f91;
        transform: rotate(270deg);
        border-radius:50% 50% 50% 0%;
    }
    75%{
        background-color: #7b7c7e;
        transform: rotate(360deg);
        border-radius:50% 50% 50% 50%;
        
    }
    90%{
        background-color: #312f30;
        border-radius:50% 50% 50% 50%;
        transform: rotate(360deg);
        
    }
    100%{
        background-color: #312f30;
        transform: rotate(720deg);
    }
}

/* トップのブロック */

#corporatePage {
	height: 100%;
	width: 100%;
	background-color: #ebebeb;
	position: fixed;
	top: 100%;
	text-align: center;
}
.corporateMain {
	width: 50%;
	margin-top: 80px;
	opacity: 0;
    font-size: 30px;
}
@media screen and (max-width: 500px) {
    .corporateMain {
	width: 80%;
	margin-top: 40px;
	opacity: 0;
    font-size: 15px;
}
}
.corporateSabu {
	margin: 0px 0px 50px 0px;
}
@media screen and (max-width: 500px){
   .corporateSabu {
	margin: 0px 0px 25px 0px;
} 
}
.Leftside {
	text-align: left;
	float: left;
}
.Rightside {
	text-align: right;
}
.deco{
     text-decoration:none;
}
/*　会社概要　*/


#servicePage {
	height: 100%;
	width: 100%;
	background-color: #e1e1e1;
	position: fixed;
	top: 100%;
	text-align: center;
   
}
.serviceMain {
	margin-top: 80px;
	width: 80%;
}
@media screen and (max-width: 600px){
    .serviceMain {
	margin-top: 30px;
	width: 90%;
}
}
.serviceSabu1 {
	background: rgb(255, 255, 255);
	width: 400px;
    height: 400px;
	margin: 30px auto;
}
#appicon{
    width:400px;
}
.serviceSabu2 {
	background: rgb(255, 255, 255);
	width: 400px;
    height: 400px;
	margin: 30px auto;
}
#webicon{
    width:400px;
}
.serviceSabu3 {
	background: white;
	width: 400px;
    height: 400px;
	margin: 30px auto;
}
#directionicon{
    width:300px;
}
.mozi{
    font-size: 25px;
}
.modal-img{
    width: 500px;
}
@media screen and (max-width: 500px){
    .serviceSabu1 {
	background: rgb(255, 255, 255);
	width: 200px;
    height: 200px;
	margin: 30px auto
    }
    .serviceSabu2 {
	background: rgb(255, 255, 255);
	width: 200px;
    height: 200px;
	margin: 30px auto;
    }
    .serviceSabu3 {
	background: white;
	width: 200px;
    height: 200px;
	margin: 30px auto;
    }
    #appicon{
    width:200px;
    }
    #webicon{
    width:200px;
    }
    #directionicon{
    width:120px;
    } 
    .mozi{
    font-size: 15px;
    }
    .modal-img{
    width: 160px;
    }
}

/* 事業内容 */


#addressPage {
	height: 100%;
	width: 100%;
	background-color: #d7d7d7;
	position: fixed;
	top: 100%;
	text-align: center;
}
.addressmap1 {
	position: absolute;
	margin: auto;
	top: 30%;
	right: 0;
	left: 0;
    width: 400px;
}
@media screen and (max-width: 500px) {
 .addressmap1 {
	position: absolute;
	margin: auto;
	top: 30%;
	right: 0;
	left: 0;
    width: 300px;
}   
}

.addressmap2 {
	position: absolute;
	margin: auto;
	top: 30%;
	right: 0;
	left: 0;
     width: 400px;
}
@media screen and (max-width: 500px) {
 .addressmap2 {
	position: absolute;
	margin: auto;
	top: 30%;
	right: 0;
	left: 0;
    width: 300px;
}   
}

/* モーダル */
#modal-content {
    width: 80%;
    height: 80%;
    margin: 1.5em auto 0;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 9999;
    position:fixed;
    display: none;
}
#modal-content1 {
    width: 80%;
    height: 80%;
    margin: 5px auto ;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 9999;
    position:fixed;
    display: none;
    text-align: center;
}
#modal-content2 {
    width: 80%;
    height: 80%;
    margin: 5px auto ;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 9999;
    position:fixed;
    display: none;
    text-align: center;
}
#modal-content3 {
    width: 80%;
    height: 80%;
    margin: 5px auto ;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 9999;
    position:fixed;
    display: none;
    text-align: center;
}
#carousel-sabu{
    
    background: red;
    width: 100px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal-p{
    margin-top: 1em;
}
.modal-p:first-child{
    margin-top: 0;
}
h2{
    margin: 0;
}

 
.button-link:hover{
opacity: 0.5;
}
#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
/* 所在地 */


#contactPage {
	height: 100%;
	width: 100%;
	background-color: #cccccc;
	position: fixed;
	top: 100%;
	text-align: center;
}
.contactMain {
    background: white;
    height: 60%;
    width: 80%;
    margin-top: 20px;
    
}

#mailicon:hover {
    opacity: 0.5;
}
#mailicon {
    width: 400px;
    margin-top: 30px;
}
@media screen and (max-width: 500px) {
    #mailicon {
    width: 200px;
    margin-top: 10px;
}
    .contactMain {
    background: white;
    height: 60%;
    width: 80%;
    margin-top: 10px;
    
}
}

/* お問い合わせ */


